body {
    background-color: #f8f9fa;
}
.card {
    /* Закругляем углы карточки */
    border-radius: 15px; /* Можно изменить значение для большего или меньшего закругления */
    /* Удаляем эффект увеличения */
    /* transition: transform 0.2s; */
}
/* Убираем эффект увеличения при наведении */
/* .card:hover {
    transform: scale(1.05);
} */
.list-group-item {
    background-color: #ffffff;
}